:root {
  --csh-primary: #B0197E;
  --csh-secondary: #E11C52;
  --bg: #25021A;
  --fg: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--bg1);
}

body {
  background: var(--bg);
  color: var(--fg);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  font-family: Rubik, Roboto, sans-serif;
  font-size: calc(10pt + 1vmin);
}

h1 {
  font-size: 1em;
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.5;
}

h2 {
  font-size: 0.9em;
  font-family: "Rubik Medium", Rubik, Roboto, sans-serif;
  color: var(--fg);
  font-weight: 500;
}

.spaced-h3 {
  margin-top: 1em;
}

h3 {
  font-size: 0.75em;
}

p {
  font-weight: 300;
  font-size: 0.75em;
  line-height: 1.4;
  color: #D9B8CE;
  margin-bottom: 0;
}

.row {
  padding: 20px 0;
}

#header {
  padding: 2em 0;
  font-size: 1.5em;
  background:
    linear-gradient(rgba(0,0,0,0) 50%, var(--bg) 100%),
    repeat top/2.5em url('csh_tilted.png');
}

#header img {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
}

.card {
  padding: 1.875em;
  background-color: #340526;
  border-color: #50103D;
  border-width: 2pt;
  border-radius: 0.25em;
}

#content-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "a d"
    "b d"
    "c e";
  grid-gap: 1em 1em;
  max-width: 40em;
}

@media screen and (max-width: 60em) {
  #content-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "a"
      "d"
      "c"
      "b"
      "e";
    max-width: 25em;
  }
}

#about-cshacks-wrapper {
  grid-area: a;
}

#about-csh-wrapper {
  grid-area: b;
}

#faq-wrapper {
  grid-area: c;
}

#schedule-wrapper {
  grid-area: d;
}

a:not(.btn) {
  font-family: "Rubik Medium", Rubik, Roboto, sans-serif;
  color: var(--fg);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn#apply {
  font-family: "Rubik Mono One", Rubik, Roboto, sans-serif;
  font-size: 0.6em;
  margin-top: 1em;
}

.btn-red {
  background: var(--csh-secondary);
  transition: 0.3s background;
  color: white;
  padding: 0.5em 2em;
  border-radius: 40px;
}

.btn-red:hover {
  color: white;
  background: var(--csh-primary);
}

#sponsors {
  grid-area: e;
}

#sponsors img {
  opacity: 1.0;
  max-height: 50px;
  transition: 0.3s opacity;
  margin-top: 0.75em;
}

.sponsor-link {
  margin-left: 20px;
}

#sponsors img:hover {
  opacity: 0.7;
}

#sponsors a {
  text-decoration: none;
}

#contact-wrapper {
  margin-top: 1.875em;
}

u {
  font-weight: 400;
  text-decoration-style: wavy;
}
