:root {
  --csh-primary: #B0197E;
  --csh-secondary: #E11C52;
  --bg: #25021A;
  --fg: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--bg1);
}

body {
  background: var(--bg);
  color: var(--fg);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  font-family: Poppins, Roboto, sans-serif;
  font-size: calc(18px + 1.2vmin);
}

h1 {
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.5;
}

h2 {
  font-size: 0.9em;
  color: var(--fg);
  font-weight: 600;
}

p {
  font-weight: 300;
  font-size: 0.75em;
  line-height: 1.4;
}

.row {
  padding: 20px 0;
}

#header {
  padding: 2em 0;
  font-size: 1.5em;
  background:
    linear-gradient(rgba(0,0,0,0) 50%, var(--bg) 100%),
    repeat top/2.5em url('csh_tilted.png');
}

#header img {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
}

a:not(.btn) {
  color: var(--fg);
  font-weight: 600;
  text-decoration: underline;
}

a:hover {
  color: #DDDDDD;
}

.btn#apply {
  font-weight: 900;
  font-size: 0.6em;
  margin-top: 1em;
}

.btn-red {
  background: var(--csh-secondary);
  transition: 0.3s opacity;
  color: white;
  padding: 0.3em 3em;
  border-radius: 40px;
}

.btn-red:hover {
  opacity: 0.7;
}

#sponsors img {
  opacity: 1.0;
  max-height: 50px;
  transition: 0.3s opacity;
}

#sponsors a:not(:first-of-type) {
  margin-left: 20px;
}

#sponsors img:hover {
  opacity: 0.7;
}

#sponsors a {
  text-decoration: none;
}

u {
  font-weight: 400;
  text-decoration-style: wavy;
}
